*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	background: hsl(212, 23%, 69%);
	font-size: 13px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
header img{
	width: 100%;
	
	
}

.imag{
	margin-top: 4em;
	margin-bottom: 0;
	background: hsl(210, 46%, 95%);
}


main{
	margin-top: 0;
	background: hsl(210, 46%, 95%);
}

article{
	padding: 0 2em;
	text-align: justify;
}
article header h1{
	font-family: 'Manrope', sans-serif;
	padding: 2em 0 1em 0;
}

article div p{
	font-family: 'Manrope', sans-serif;
	padding-bottom: 2em;
}

footer{
	background: hsl(210, 46%, 95%);
	text-align: justify;
	padding-bottom: 2em;
}

.michelle{
	border-radius: 50%;
}

.about{
	display: block;
	margin-top: 1em;

}

.icons{
	display: none;
}


.michelle{
	width: 20%;
}

.pinterest{
	background: hsl(217, 19%, 35%);
	width: 5%;
}

footer div{
	display: flex;
	justify-content: space-around;
}



@media(min-width: 660px){
	.container{
		width: 60%;
		height: 100vh;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 11px;


	
		
		
	}

	.imag{
		width: 40%;
		height: 50%;

		background: hsl(212, 23%, 69%);
		margin-bottom: 4em;

		
		
	}

	header img{
		width: 100%;
		height: 100%;
		border-radius: 15px 0 0 15px;

		
	}

	.area{
		width: 60%;
		height: 50%;
		border-radius: 0px 15px 15px 0;
		background: hsl(212, 23%, 69%);

		
	}

	main{
		height: 60%;
		
		border-radius: 0px 15px 0px 0;
	
	}

	footer{
		height: 40%;
		padding-top: 20px;
		width:100%;
		
		border-radius: 0px 0px 15px 0;
	}
	.about .michelle{
		float:left;
	}
	
	.right{
		float:right;
		
	}
}


@media (min-width: 950px){
	.container{
		font-size: 12px;
	}
}

@media (min-width: 1050px){
	.container{
		font-size: 14px;
	}
}